<h1>Listing mtalks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Word</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mtalks.each do |mtalk| %>
      <tr>
        <td><%= mtalk.name %></td>
        <td><%= mtalk.word %></td>
        <td><%= link_to 'Show', mtalk %></td>
        <td><%= link_to 'Edit', edit_mtalk_path(mtalk) %></td>
        <td><%= link_to 'Destroy', mtalk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mtalk', new_mtalk_path, class: "button radius" %>
